.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;	
    border-bottom:1px dotted #555; 
	color:#000 !important;
	margin-left:7px ;
	margin-right:7px ;	
}

.x {
	border: 1px solid red;
}

.mcontenedor {
    width: 100%;
    max-width:1000px;
    /*margin:0 auto;*/
	margin-top: -30px !important;
    /*display:flex;*/
    justify-content: center;
}

#nav-mobile {
    list-style: none;
    overflow: hidden;
    display: flex;
    padding: 0;
}

#nav-mobile  li {
}

#nav-mobile  a {
    display: block;
    padding:5px 10px;
    color: #fff;
    text-decoration: none;
}